<nav class="menu">
    <ul>
        <li><a class="nav_link" href="/">LOGO</a></li>
        <li class="nav_search"><input type="text" placeholder="Rechercher" name="search"></li>
        <li class="nav_search"><button type="submit">Recherche</button></li>
        <li><a class="nav_link" href="/login"><%= login %></a></li>
        <li><a class="nav_link" href="/addEvent">Add Event</a></li>
    </ul>
</nav>

<nav>
    <p class="navBar_date"> Date actuelle: <%= date %> </p>
</nav>